In [43]:
import pandas as pd
import json

In [44]:
# Load the CSV file
df = pd.read_csv("Sleep_health_and_lifestyle_dataset.csv")

In [45]:
df.head()

,Person_ID,Gender,Age,Occupation,Sleep_Duration,Quality_of_Sleep,Physical_Activity_Level,Stress_Level,BMI_Category,Blood_Pressure,Heart_Rate,Daily_Steps,Sleep_Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [46]:
# Extract the schema information
schema = df.dtypes.to_dict()
schema

{'Person_ID': dtype('int64'),
 'Gender': dtype('O'),
 'Age': dtype('int64'),
 'Occupation': dtype('O'),
 'Sleep_Duration': dtype('float64'),
 'Quality_of_Sleep': dtype('int64'),
 'Physical_Activity_Level': dtype('int64'),
 'Stress_Level': dtype('int64'),
 'BMI_Category': dtype('O'),
 'Blood_Pressure': dtype('O'),
 'Heart_Rate': dtype('int64'),
 'Daily_Steps': dtype('int64'),
 'Sleep_Disorder': dtype('O')}

In [47]:
schema_list = []
for key, value in schema.items():
    if value == "object":
        value = "TEXT"
    else: value = "NUMERIC"
    unique_values = df[key].dropna().unique().tolist()
    if len(unique_values) > 5:
        if value == "NUMERIC":
            unique_values = unique_values[:5]
        # what to do with {"Column Name": "Blood_Pressure", "Column Type": "TEXT", "Sample Values": ["115/75""115/78", "117/76", "118/75", "118/76", "119/77"]}

    schema_list.append({"Column Name": key, "Column Type": value, "Sample Values": unique_values})
schema_list

[{'Column Name': 'Person_ID',
  'Column Type': 'NUMERIC',
  'Sample Values': [1, 2, 3, 4, 5]},
 {'Column Name': 'Gender',
  'Column Type': 'TEXT',
  'Sample Values': ['Male', 'Female']},
 {'Column Name': 'Age',
  'Column Type': 'NUMERIC',
  'Sample Values': [27, 28, 29, 30, 31]},
 {'Column Name': 'Occupation',
  'Column Type': 'TEXT',
  'Sample Values': ['Software Engineer',
   'Doctor',
   'Sales Representative',
   'Teacher',
   'Nurse',
   'Engineer',
   'Accountant',
   'Scientist',
   'Lawyer',
   'Salesperson',
   'Manager']},
 {'Column Name': 'Sleep_Duration',
  'Column Type': 'NUMERIC',
  'Sample Values': [6.1, 6.2, 5.9, 6.3, 7.8]},
 {'Column Name': 'Quality_of_Sleep',
  'Column Type': 'NUMERIC',
  'Sample Values': [6, 4, 7, 5, 8]},
 {'Column Name': 'Physical_Activity_Level',
  'Column Type': 'NUMERIC',
  'Sample Values': [42, 60, 30, 40, 75]},
 {'Column Name': 'Stress_Level',
  'Column Type': 'NUMERIC',
  'Sample Values': [6, 8, 7, 4, 3]},
 {'Column Name': 'BMI_Category',
  'Column Type': 'TEXT',
  'Sample Values': ['Overweight', 'Normal', 'Obese', 'Normal Weight']},
 {'Column Name': 'Blood_Pressure',
  'Column Type': 'TEXT',
  'Sample Values': ['126/83',
   '125/80',
   '140/90',
   '120/80',
   '132/87',
   '130/86',
   '117/76',
   '118/76',
   '128/85',
   '131/86',
   '128/84',
   '115/75',
   '135/88',
   '129/84',
   '130/85',
   '115/78',
   '119/77',
   '121/79',
   '125/82',
   '135/90',
   '122/80',
   '142/92',
   '140/95',
   '139/91',
   '118/75']},
 {'Column Name': 'Heart_Rate',
  'Column Type': 'NUMERIC',
  'Sample Values': [77, 75, 85, 82, 70]},
 {'Column Name': 'Daily_Steps',
  'Column Type': 'NUMERIC',
  'Sample Values': [4200, 10000, 3000, 3500, 8000]},
 {'Column Name': 'Sleep_Disorder',
  'Column Type': 'TEXT',
  'Sample Values': ['Sleep Apnea', 'Insomnia']}]

In [48]:
# Save the schema information to a JSON file
with open("table_info_test.jsonl", "w") as f:
    for item in schema_list:
        json.dump(item, f)
        f.write("\n")